<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>6118592177-3konr098556bvac2uo4mb2e742vpgg9a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.6118592177-3konr098556bvac2uo4mb2e742vpgg9a</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>6118592177-8a14o46bkqvvqquqqu5ffoaatok0cj15.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBAM-nhbnkQMUtTjRMMZ-oGX1CahC_OFvM</string>
	<key>GCM_SENDER_ID</key>
	<string>6118592177</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eCommerceApplication</string>
	<key>PROJECT_ID</key>
	<string>sport-up-5f954</string>
	<key>STORAGE_BUCKET</key>
	<string>sport-up-5f954.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:6118592177:ios:6d1a33fff32a2be6e31c90</string>
</dict>
</plist>